:root {
    --background-color: #f0e6d2;
    --dark-color: #1d1917;
    --light-color: #fff8e7;
    --link-color: #a35451;
}

body {
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--dark-color);
    margin: 1em;
    font-size: 16px;
}

main {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

.post {
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    border-radius: 20px;
}

.post a {
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--background-color);
}

.post img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    justify-content: center;
    text-align: center;
}


/* element selectors */
h2, h3, h4 {
  font-weight: 600;
  color: var(--dark-color);
}

.highlight {
  background-color: var(--dark-color);
  color: var(--light-color);
  h2 {
    color: var(--light-color);
  }
}

/* #post is styled almost the same as .post except for the background color */
#post {
  border:1px solid var(--dark-color);
  background-color: #ffffff;
  margin-bottom: 1em;
  padding: .5em 1em;
}

/* our post class */
.post {
  border:1px solid var(--dark-color);
  margin-bottom: 1em;
  padding: .5em 1em;
}

/* these styles are shared between .post and #post */
.post, #post {
  .img-container {
    aspect-ratio: 3/2;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  a {
    color: var(--link-color);
    background-color: var(--light-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.highlight {
  background-color: var(--dark-color);
  color: var(--light-color);
  h2 {
    color: var(--light-color);
  }
}

.special-headline {
  font-weight: 900;
  color: #4b0082;
}

#unique-headline {
  font-weight: 600;
  color: #ff1493;
}

/* Lab 2 Styles */

.hide-me {
  display: none;
}

.post span {
  color: coral;
}

.block-div, .block {
  display: block;
  border-radius: 1em;
  color: coral;
  background-color: #006060;
  border: 1px solid var(--dark-color);
  padding: 1em;
}

.block {
  margin: 1em 0;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  color: var(--dark-color) !important;
  background-color: coral;
  transform: rotate(-8deg);
  font-weight: 800;
  font-variation-settings: "width" 65;
}

.static {
  position: static;
  border: 1px solid var(--dark-color);
}

.fixed {
  z-index: 999;
  position: fixed;
  top: 1em;
  right: 1em;
  width: 300px;
  padding: 3em;
  background-color: #ff7f50;
  border: 1px solid var(--dark-color);
}

.relative {
  position: relative;
  left: 1em;
  width: calc(100% - 1em);
  border: 1px solid var(--dark-color);
}

.absolute-demo-holder {
  position: relative;
  border: 1px solid var(--dark-color);
  width: 100%;
  margin-bottom: 1em;
  aspect-ratio: 4/3;
}

.absolute-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: coral;
  border-radius: 50px;
  transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

.sticky-demo-holder {
  overflow: scroll;
  position: relative;
  border: 1px solid var(--dark-color);
  width: 100%;
  margin-bottom: 1em;
  height: 200px;
  p {
    margin: 1em;
  }
}

.sticky-bit {
  background-color: coral;
  position: sticky;
  top: 0;
  padding: 1em;
}

.float-demo-holder {
  border: 1px solid var(--dark-color);
  padding: 0 1em;
  margin-bottom: 1em;

  .img-right {
    width: 15em;
    height: auto;
    float: right;
    margin: 1em 0 1em 1em;
  }
  
  .img-left {
    width: 15em;
    height: auto;
    float: left;
    margin: 1em 1em 1em 0;
  }

}

.column-demo-holder {
  border: 1px solid var(--dark-color);
  padding: 1em;
  margin-bottom: 1em;
  overflow: hidden;

  .column {
    width: calc(100%/3 - 2rem);
    aspect-ratio: 1;
    float: left;
    padding: 1rem;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    background-color: hsl(16, 100%, 66%);
    &:nth-child(even){
      background-color: hsl(16, 100%, 44%);
    }
  }

  .masthead {
    background-color: #600060;
    margin: 1em;
    height: 100px;
  }

  .side-nav {
    background-color: #006060;
    float: left;
    margin: 1em;
    height: 60vh;
    width: calc(25% - 2em);
  }

  .article {
    background-color: #606000;
    float: left;
    margin: 1em;
    height: 60vh;
    width: calc(75% - 2em);
    
  }

}